---
import Article from '../elements/Article.astro';
import Slider from '../elements/Slider.astro';
import fetchApi from "../../lib/strapi";
import { getLangFromUrl } from "../../i18n/utils";

const { colored } = Astro.props;

const lang = getLangFromUrl(Astro.url);

const articles = await fetchApi({
    endpoint: `articles?populate=deep&locale=${lang}`
});
---

<section class="news" style={colored ? 'background-color: #faf9fc;' : ''} id="news">
    <div class="news__container">
        <div class="news__header">
            <h2>Noutăți</h2>
        </div>

        <Slider className="news">
            {
                articles.map((post) => (
                    <div class={`slider-news__slide`}>
                        <Article title={post.attributes.title} time={post.attributes.date} image={post.attributes.image.data.attributes.url} slug={post.attributes.slug} />
                    </div>
                ))
            }
        </Slider>
    </div>
</section>
