---
const { className } = Astro.props;
---

<div class=`page__${className}-slider ${className}-slider`>
    <div class=`${className}-slider__body`>
        <div class=`${className}-slider__slider`>
            <div class=`slider-${className}__body swiper`>
                <slot />
            </div>

            <div class=`slider-${className}-controls`>
                <div class=`slider-${className}-controls__dots`></div>
                <div class=`slider-${className}-controls__arrows slider-arrows`>
                    <button type="button" class="slider-arrow slider-arrow__prev">
                        <i class="mdi mdi-chevron-left"></i>
                    </button>
                    <button type="button" class="slider-arrow slider-arrow__next">
                        <i class="mdi mdi-chevron-right"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
